*{
    box-sizing: border-box;
}
#container{
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    display: flex;
}
main{

}
header{
    background-color: #120323;
    color: #97bf04;
    img{

    }
}
aside{
    background-color: #97bf04;
}
footer{
    background-color: #d9043d;
}
body{
    
}
img#puffin{
    max-width: 100%;
    border-style: solid;
    border-color: #d9043d;
    border-width: 4px;
    float: left;
}
@media screen and (min-width: 400){
    img{
        width: 100%;
    }
}